<div class="jumbotron text-center">
    <h1 class="display-3">
        {{title}}
        <p class="lead">Buy the an art piece for your personal collection</p>
        <a href="/users/login" class="btn btn-dark btn-lg">Login now</a>
    </h1>
</div>