<!--
	register.hbs
	author: Duc Giang
	WEB322 Assignement Two
	http://	
-->

<form method="post" action="/register">  
  <div class="clsregistercontent">
    <h3>Account Registration</h3>
    <br />
    <input id="txtUserName" 
         name="txtUserName" 
         type="email" 
         required 
         placeholder="Email" 
         value="{{userNom}}" /><br />

    <input id="txtPassword" 
         name="txtPassword" 
         type="password" 
         required
         placeholder="Password" 
         value="" /><br />

    <input id="txtConfirmPassword"
         name="txtConfirmPassword" 
         type="password" 
         placeholder="Confirm Password" 
         value=""
         required /><br />

    <button id="btnRegister" type="submit" value="submit">Register</button><br />
    <label name="lblmessage" id="lblMessage">{{message}}</label>
  </div>

</form>
